extends ./layout/layout

block css
  link(rel="stylesheet", href="/css/index.css")
//- 
  artList
    头像
    tips
    文章url
    作者
    时间
    评论数

block contents
  include ./layout/tag
  
  .layui-container
    .layui-row.layui-col-space15

      //- 文章列表
      .layui-col-md8
        div.lun_padding
          .layui-carousel#test1
            div(carousel-item)
             each info in lunboList
              img(src=info, alt="")

        ul.article-list
          each info in artList
            li(data-scroll-reveal="enter bottom over 1s",data-wow-duration='1s',data-wow-offset='50').wow.fadeInUp
              a.list-face
                img(lay-src=info.author.avatar, alt=info.author)
              h2
                a.layui-badge= info.tips
                a.articlt-title.ellipsis(href=`/article/${info._id}`)= info.titles
              .list-content
                a= info.content
              .list-info
                a= info.author.username
                
                span 发表时间
                span= info.created.toLocaleString()
                span.list-reply
                  i(title="评论").layui-icon.layui-icon-file-b
                  = info.commentNum
   
        include ./layout/laypage.pug
        
      //- 右侧公告
      include ./layout/right_tag

block scripts
  script(src="/js/index.js")
  